In [5]:
import itertools
import pandas as pd
import numpy as np
a = ('A', 'B')
i = (0, 1, 2)
b = (True, False)
idx = pd.MultiIndex.from_tuples(list(itertools.product(a, i, b)),
                                names=('Alpha', 'Int', 'Bool'))
df = pd.DataFrame(np.random.randn(len(idx), 5), index=idx,
                  columns=('col1', 'col2', 'col3', 'col4', 'col5'))

In [6]:
df

                     col1      col2      col3      col4      col5
Alpha Int Bool
A     0   True  -1.751310 -1.907750 -1.153037 -0.040163 -1.165491
          False  1.158203 -0.358442 -1.408439 -0.321942 -0.808778
      1   True   0.403452  1.739907  1.256862  2.101672  0.927544
          False -0.231703  0.984789 -1.384046 -0.520925  0.457788
      2   True   2.395389  1.462664 -0.536261 -1.362766  0.036832
          False -1.095501 -0.927269  0.274682  0.222985 -1.640804
B     0   True   0.140677  0.239098  0.676675  0.106644  0.295152
          False -0.613469 -0.032465 -1.682912  0.781090  0.572621
      1   True  -0.927179  0.316741  1.256110 -1.235376 -0.379347
          False -0.469414  0.264102  1.451640  0.480634  1.339574
      2   True  -1.885653 -0.803511  0.613501 -0.397062  1.520485
          False -2.119368 -0.265060 -0.384963  0.093802 -0.497641

In [8]:
df.col1

Alpha  Int  Bool
A      0    True    -1.751310
            False    1.158203
       1    True     0.403452
            False   -0.231703
       2    True     2.395389
            False   -1.095501
B      0    True     0.140677
            False   -0.613469
       1    True    -0.927179
            False   -0.469414
       2    True    -1.885653
            False   -2.119368
Name: col1, dtype: float64

In [10]:
#but if you want col1 for only group A, int=0 and bool=True 
df['col1'].xs(('A', 1, 0), level=('Alpha', 'Int', 'Bool'))

Alpha  Int  Bool
A      1    False   -0.231703
Name: col1, dtype: float64

In [11]:
#now if you want col1 for only group A, int=0  
df['col1'].xs(('A', 1), level=('Alpha', 'Int'))

Bool
True     0.403452
False   -0.231703
Name: col1, dtype: float64

In [12]:
#now if you want col1 for only group A 
df['col1'].xs(('A'), level=('Alpha'))

Int  Bool
0    True    -1.751310
     False    1.158203
1    True     0.403452
     False   -0.231703
2    True     2.395389
     False   -1.095501
Name: col1, dtype: float64